<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Campaign</title>
</head>
<body>

<h1>Process to create a campaign and follow it</h1>

<img src="{% static 'start.png'%}">

<p>
<a href="start"><img src="{% static 'lstart.png'%}"></a>
<a href="create"><img src="{% static 'lcreate.png'%}"></a>
<a href="prepare"><img src="{% static 'lprepare.png'%}"></a>
<a href="followup"><img src="{% static 'lfollowup.png'%}"></a>
<a href="evaluate"><img src="{% static 'levaluate.png'%}"></a>
<a href="report"><img src="{% static 'lreport.png'%}"></a>
</p>

<ul>
  <li>Start</li>
  <li>Create the newsletter or the web page</li>
  <li>Prepare to send to email service</li>
  <li>Follow up activities, like visits to the page, open, share, etc</li>
  <li>Set time for evaluation</li>
  <li>Create reports</li>
</ul>

<p>Here we will provide a description of how a campaign is created, maybe a video to show the full
cycle</p>

<a href="/">Return to the site</a>
</body>
</html>