<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Newsletter</title>
</head>
<body>
<ul>
    <li><P>Priority 1
    <P>User: {{ template.user }}</P>
    <P>email: {{ template.email }}</P>

    <P>Title: {{ template.title }}</P>
    <P>Content: {{ template.content }}</P>
    <P>category: {{ template.categories }}</P>
    <p>tags: {{ template.tags }}</p>
    <p>url: {{ template.url }}</p>
    <p>facebook: {{ template.share_fb }}</p>
    <p>twitter: {{ template.share_twitter }}</p></li>
    &nbsp;
    <li><P>Priority 2</P>
    <P>Title</P>
    <P>Content</P>
    <P>category</P>
    <p>tags</p>
    <p>url</p>
    <p>facebook</p>
    <p>twitter</p></li>

</ul>
<p>Prepare the process to send by email the content created <a href="prepare">Prepare</a> </p>
</body>
</html>