<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Evaluate Results</title>
</head>
<body>

<h1>Evaluate the results of a campaign</h1>

<p>
<a href="start"><img src="{% static 'lstart.png'%}"></a>
<a href="create"><img src="{% static 'lcreate.png'%}"></a>
<a href="prepare"><img src="{% static 'lprepare.png'%}"></a>
<a href="followup"><img src="{% static 'lfollowup.png'%}"></a>
<a href="evaluate"><img src="{% static 'bevaluate.png'%}"></a>
<a href="report"><img src="{% static 'lreport.png'%}"></a>
</p>


</body>
</html>