<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Prepare a Campaign</title>
</head>
<body>
<h1>Prepare a sequence of your  campaign</h1>

<p>
<a href="start"><img src="{% static 'lstart.png'%}"></a>
<a href="create"><img src="{% static 'lcreate.png'%}"></a>
<a href="prepare"><img src="{% static 'bprepare.png'%}"></a>
<a href="followup"><img src="{% static 'lfollowup.png'%}"></a>
<a href="evaluate"><img src="{% static 'levaluate.png'%}"></a>
<a href="report"><img src="{% static 'lreport.png'%}"></a>
</p>
<p>
    <ul>
        <li>Open the API to the email service</li>
        <li>send the emails</li>
        <li>wait for a period of time that the users process the information</li>
    </ul>
</p>

</body>
</html>